@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>.NET ASP.NET Core</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Implement ProgrammersController with several actions:</h2>
        <p>
            <ul>
                <li>Action that will return one profile by user Id</li>
                <li>Action that will return a collection of profiles</li>
                <li>Action that will add user profile to the collection</li>
                <li>Action that will update user profile in the collection</li>
                <li>Action that will delete user profile from collection</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Implement middleware:</h2>
        <p>Implement middleware that will track time when the request started and finished.</p>
    </div>
    <div class="col-md-4">
        <h2>Logging:</h2>
        <p>Write the request timing information to logs using NLog or using Serilog.</p>
    </div>
</div>